<%- include('../partials/header')%>

<h1>Add New Flight </h1>
<form action="/flights" method="POST">
    <label>Airline:
        <select name="airline">
            <option value="American">American</option>
            <option value="Southwest">Southwest</option>
            <option value="United">United</option>
        </select>
    </label><br>
    <label>Airport:
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN </option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
    </label><br>
    <label>Flight Number:
        <input type="number" name="flightNo">
    </label><br>
    <label>Departure Time
        <input type="datetime-local" name="departs" value="<%= departsDate %>">
    </label><br>
    <input type="submit" value="Add Flight">
</form>

<%- include('../partials/footer')%>